.dropDown{
    /* border: 1px solid red; */
    width: 100%;
    align-items: center;
}

.dropDown_buttons{
    /* border: 1px solid blue; */
    width:25%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 60px;
    align-items: center;
}

.dropDown_buttons>select, .dropDown_buttons>input{
    align-items: center;
    background-color: #899878;
    border: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    align-items: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    text-decoration: none;
    /* text-transform: uppercase; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 4px;
    margin: 8px 0;
    margin-top: 25px;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 17px;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.7rem center;
    background-size: 1em;
    width:130px;
    min-width: 120px;
    text-align: center;
}

.dropDown_buttons>input{
    -webkit-appearance: none;
    background-image: none;
    width:80px;
    min-width: 50px;
    background-color: #3e4536;
}

.dropDown_buttons>input:hover {
    box-shadow: #F7F7F2 0px 0px 6px 1px;
}


.dropDown_buttons>select:hover {
    box-shadow: #F7F7F2 0px 0px 6px 1px;
}

.dropDown_buttons>select:focus {
    outline: none;
}


