.showComment_main{
    margin-top: 8px;
    text-align: justify;
    background-color: #F7F7F2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showComment_main_commentText{
    margin-left: 20px;
    width: 85%;
}

.showComment_main_buttons{
    padding: 0px;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    margin-right: 20px;
}

.showComment_main_editButton{
    box-shadow: darkgrey 0px 5px 15px;
    border-radius: 4px;
    border: none;
    height: 25px;
    width: 25px;
    background-image: url('../../Assets/Edit\ Button.png');
    background-size: cover;
    background-color: #F7F7F2;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.showComment_main_saveButton{
    box-shadow: darkgrey 0px 5px 15px;
    border-radius: 4px;
    border: none;
    height: 25px;
    width: 25px;
    background-image: url('../../Assets/Save\ Button.png');
    background-size: cover;
    background-color: #F7F7F2;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.showComment_main_buttons>button:nth-child(2) {
    box-shadow: darkgrey 0px 5px 15px;
    border-radius: 4px;
    border: none;
    height: 25px;
    width: 25px;
    background-image: url('../../Assets/Delete\ Icon.png');
    background-size: cover;
    background-color: #F7F7F2;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.showComment_main_buttons>button:hover {
    background-color: #899878;
}

.showComment_main_buttons>button:active {
    background-color: #899878;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.showComment_main_editable{
    padding:4px;
    box-shadow:0 0 10px 0px rgba(0, 0, 0, 0.609);
}

.showComment_main_editable:focus{
    outline: none;
    border: 1px solid black;
}